@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.inventory-item-card {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid $neutral-gray;

  &--expiring-soon {
    background-color: rgba(241, 219, 75, 0.5);
  }

  &--expired {
    background-color: rgba(248, 18, 18, 0.5);
  }

  &__header {
    display: flex;
  }

  &__expiring-soon-message {
    margin-left: auto;
  }

  &__expired {
    @extend .inventory-item-card__expiring-soon-message;
  }

  &__name {
    text-transform: capitalize;
    margin: 0;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__amount-edits {
    display: flex;
  }

  &__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.25rem;
  }

  &__edit-buttons {
    display: flex;
    gap: 0.5rem;
  }

  &__input {
    &--quantity {
      width: 3rem;
    }

    &--unit {
      width: 4rem;
    }

    @include input-box;
  }

  &__error-message {
    color: #d57034;
    // background-color: $background-light;
    width: fit-content;
  }

  &__button {
    @include button($background-dark, $font-light);
    padding: 0.25rem 0.5rem;
    &--delete {
      &:hover {
        background-color: $logo-red;
      }
    }
  }
}

.app--dark {
  .inventory-item-card__button {
    @include button($background-light, $font-dark);
  }
}
