$logo-pink: #ff3cc7;
$logo-blue: #6b7fd7;
$logo-yellow: #f1db4b;
$logo-green: #09bc8a;
$logo-red: #f81212;
$logo-orange: #ed7d3a;
$background-dark: #34332f;
$background-light: #f8f9fa;
$font-dark: #34332f;
$font-light: #f8f9fa;
$neutral-gray: #969695;
