@font-face {
  font-family: "VAG rounded";
  src: url(../../assets/fonts/vag-rounded-bold.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bungee Shade";
  src: url(../../assets/fonts/bungee-shade-regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
