@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography";

.generator {
  display: flex;
  flex-direction: column;

  &__heading {
    text-align: center;
  }

  &__add-ingredient {
    @include button($background-dark, $font-light);
    width: fit-content;
    margin-left: auto;
    padding: 0.25rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow-y: scroll;
  }

  &__fieldset {
    border: 1px solid $neutral-gray;
    border-radius: 12px;
    &--error {
      border: 2px solid $logo-orange;
    }
  }

  &__legend {
    &--error {
      color: $logo-orange;
    }
  }

  &__meal {
    width: 100%;
    @include input-box;
  }

  &__time {
    width: 100%;
    @include input-box;
  }

  &__submit {
    width: 100%;
    border-radius: 12px;
    font-family: "VAG rounded";
    background-color: $logo-green;
    font-size: 1rem;
    padding: 0.25rem;
    border: none;
    height: 1.6rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__loading {
    width: 50px;
    align-self: center;
  }

  &__validation {
    margin: 0;
    text-align: center;

    &--error {
      color: $logo-orange;
    }
  }
}

.app--dark {
  .generator__add-ingredient {
    @include button($background-light, $font-dark);
  }
}
