@use "../../styles/partials/colors" as *;

.search {
  width: 100%;
  padding: 0.5rem;
  font-family: "VAG rounded";
  font-size: 1.25rem;
  border-radius: 12px;
  border-width: 1px;
  border: 1px solid $neutral-gray;
  color: $neutral-gray;
  letter-spacing: 0.5px;
  text-indent: 0.5rem;
  &:focus {
    outline: $logo-pink;
    border: 2px solid $logo-pink;
  }
}
