@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.header {
  display: flex;
  flex-direction: column;
  background-color: #dfe0e1;
  border-bottom: 1px solid $neutral-gray;
  margin-bottom: 2rem;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;

  &--dark {
    background-color: $background-dark;
    color: $font-light;
  }

  &__container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      padding: 1rem 0;
    }
  }

  &__btn {
    align-self: flex-end;
    background-image: url("../../assets/icons/brightness-contrast.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    margin-right: 1rem;
    margin-top: 1rem;
    transition: transform 0.5s ease-in-out;
    &:hover {
      cursor: pointer;
      transform: rotate(360deg);
    }
    &--dark {
      filter: invert(1);
    }
    @include tablet {
      order: 1;
      margin-top: 0;
      margin-left: auto;
      align-self: flex-start;
      margin-right: 1rem;
    }
  }

  &__logo-link {
    text-decoration: none;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    @include tablet {
      padding: 1rem 2rem;
    }
    @include desktop {
      width: 50%;
      padding: 1rem 4rem;
    }
  }
  &__nav-link {
    text-decoration: none;
    color: $font-dark;
    transition: letter-spacing 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
      letter-spacing: 1px;
    }

    &--active {
      text-decoration: underline;
    }
  }
}

.app--dark {
  .header__nav-link {
    color: $font-light;
  }

  .header {
    background-color: #292825;
    box-shadow: rgba(210, 220, 240, 0.4) 0 2px 4px,
      rgba(210, 220, 240, 0.3) 0 7px 13px -3px, #494970 0 -3px 0 inset;
  }
}
