@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.expandable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  &__button {
    @include small-button-dark-bg;
    padding: 0.5rem;
    border-radius: 12px;
    width: fit-content;
  }
}

.app--dark {
  .expandable__button {
    @include small-button-light-bg;
    padding: 1rem 0.5rem;
    border-radius: 12px;
  }
}
