@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.inventory {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__heading {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &__text {
    margin: 0;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__add-button {
    @include large-button-dark-bg;
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    justify-content: center;
  }
  &__filter-button {
    @include small-button-dark-bg;
  }
}

.app--dark {
  .inventory__add-button {
    @include large-button-light-bg;
  }

  .inventory__filter-button {
    @include small-button-light-bg;
  }
}
