@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;

.recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    @include desktop {
      flex-direction: row;
      margin-top: 0.5rem;
    }
  }

  &__header-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
      flex-direction: row;
      gap: 1rem;
    }
  }

  &__actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include tablet {
      flex-direction: row;
    }
    @include desktop {
      margin-left: auto;
      width: 50%;
    }
  }

  &__saved {
    margin: 0;
    text-decoration: none;
    color: $font-dark;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__new {
    @include large-button-dark-bg;
    text-decoration: none;
    text-align: center;
    height: 40px;
    &:hover {
      background-color: rgba(107, 127, 215);
      cursor: pointer;
    }
    @include tablet {
      width: 100%;
    }
    @include desktop {
      width: 50%;
    }
  }

  &__sort-button {
    @include small-button-dark-bg;
    padding: 0.25rem;
    width: fit-content;
  }

  &__time {
    display: none;
  }

  &__list {
    padding: 0;
    gap: 1rem;
  }

  &__list-item {
    @include magnet-box-light-dynamic;
    font-size: 1rem;
    align-items: baseline;

    &:hover .recipes__time {
      display: inline;
      color: $logo-green;
    }
  }

  &__name {
    margin: 0 0.25rem;
  }

  &__link {
    text-decoration: none;
    color: $font-dark;
    width: 100%;
  }

  &__organising {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    @include desktop {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    justify-content: center;
  }

  &__filter-button {
    @include small-button-dark-bg;
  }
}

.app--dark {
  .recipes__sort-button {
    @include small-button-light-bg;
  }

  .recipes__filter-button {
    @include small-button-light-bg;
  }

  .recipes__saved {
    color: $font-light;
  }

  .recipes__list-item {
    @include magnet-box-dark-dynamic;
  }

  .recipes__new {
    @include large-button-light-bg;
    &:hover {
      background-color: rgba(107, 127, 215);
      cursor: pointer;
    }
  }
}
