@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/colors" as *;

main {
  @include container-spacing;
}

.unit-form {
  border: none;
  margin: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__label {
    margin: 0;
    width: 100%;
  }

  &__input {
    display: block;
    width: 100%;
    @include input-box;
  }

  &__radio-option {
    margin-top: 0.5rem;
  }
}
