@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.ai-image {
  display: flex;
  flex-direction: column;
  &__button {
    @include small-button-dark-bg;
    padding: 0.5rem;
    border-radius: 12px;
    font-size: 0.8rem;
    align-self: center;
  }
}

.app--dark {
  .ai-image__button {
    @include small-button-light-bg;
    padding: 1rem 0.5rem;
    border-radius: 12px;
  }
}
