@use "../src/styles/partials/resets" as *;
@use "../src/styles/partials/colors" as *;
@use "../src/styles/partials/mixins" as *;

.app {
  min-height: 100vh;
  background-color: $background-light;
  color: $background-dark;

  &--dark {
    background-color: $background-dark;
    color: $background-light;
  }
}
